@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";



@layer base {
  body {
    @apply bg-stone-200; /* Tailwind class for background */
  }
  html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    /* background-image: url('/background.jpg'); */
    /* path relative to public */
        background-size: cover;
        /* cover the entire container */
        background-position: center;
        height: 100vh;
        /* full viewport height */
        width: 100vw;
        /* full viewport width */
    }
}

