@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";



@layer base {
    html {
        font-family: 'Poppins', sans-serif;
        /* background-image: url('/background.jpg'); */
        /* path relative to public */
        background-size: cover;
        /* cover the entire container */
        background-position: center;
        height: 100vh;
        /* full viewport height */
        width: 100vw;
        /* full viewport width */
    }
}

